{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools %}
    <ul class="object-tools">
        {% if not is_popup %}
            {{ block.super }}
        {% endif %}
        <li class="custom-button">
            <a href="{% url 'admin:gestao_membrofinanceiro_aniversariantes' %}" class="button">Ver Aniversariantes do Mês</a>
        </li>
        {% if not is_popup %}
            <li class="custom-button">
           <!--    <a href="{% url 'admin:gestao_membrofinanceiro_add' %}" class="button">Adicionar Cadastro de Membros</a> -->
            </li>
        {% endif %}
    </ul>
{% endblock %}
